/* reset */
*:not(ol) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* root */
:root {
    --blue: #1155cc;
    --grey-100: #3b4043;
    --grey-300: #5f6469;
    --grey-500: #cccbcb;
    --grey-800: #f3f4f3;
    --sectionmargin: 5rem;
    --gutter-xs: .7rem;
    --gutter-sm: 1.2rem;
    --gutter: 2rem;
    --gutter-md: 2.5rem;
    --purple: #7b1fa2;
}
/* font */
body,a,button {
    font-family: 'Open Sans', sans-serif;
    font-size: .87rem;
    color: var(--grey-100);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}
/* buttons */
.btn--user {
    position: relative;
}
.btn--user::before {
    content: 'E';
    display: inline-block;
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: var(--grey-800);
}
/* common */
.container {
    max-width: 65rem;
    padding: 0 var(--gutter-sm);
    margin: auto;
}

.list--lower-alpha {
    list-style-type: lower-alpha;
}

ol{
    margin-block-start: 0;
    padding-inline-start: var(--gutter-sm);
}

ol li {
    margin: var(--gutter-sm) 0;
    padding-inline-start: var(--gutter-sm);
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
}

a svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    fill: var(--grey-100);
}

.circle {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
}

.circle:hover {
    background-color: var(--grey-800);
}

/* header */
header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    color: var(--grey-300);
    padding: var(--gutter-sm) var(--gutter-sm) 0 var(--gutter-sm);
}

header::after {
    z-index: -1;
    content: '';
    position: absolute;
    display: inline-block;
    height: .0625rem;
    width: 100%;
    background-color: var(--grey-500);
    bottom: 0;
    left: 0;
}

header h2 {
    font-weight: 500;
}

.top__logo >*,
.top__user > *:not(:last-child) {
    margin-right: .3rem;
}

.header__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.top__logo {
    display: flex;
    align-items: bottom;
    flex-grow: 1;
}

.top__logo img {
    margin-top: .3rem;
    height: 1.5rem;
}

.top__user {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__list a {
    color: var(--grey-300);
    font-weight: 600;
    font-size: .9rem;
    margin-right: var(--gutter-md);
    padding-bottom: var(--gutter-xs);
}

.nav__list a.active {
    color: var(--blue);
    position: relative;
}

.nav__list a.active::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: .1875rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
}
/* main */
main {
    padding-top: 6.525rem;
}
.faq {
    margin: var(--sectionmargin) 0 var(--sectionmargin);
}
.faq__paragraph {
    margin: var(--gutter) 0;
    line-height: 1.5rem;
}
/* footer */
footer {
    background-color: var(--grey-800);
}
footer .container {
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
}
.footer__list, .footer__languages {
    display: flex;
    align-items: center;
}
.footer__list a {
    color: var(--grey-300);
    margin: 0 var(--gutter-xs);
    font-size: .7rem;
}
.list__item {
    position: relative;
}
.list__item:not(:last-child)::after {
    content: '.';
    position: absolute;
    display: inline-block;
    font-size: .7rem;
}
.footer__languages a img {
    height: 1.2rem;
    margin: 0 var(--gutter-xs);
    margin-top: .3rem;
}
select {
    width: 10rem;
}