/* reset */
*:not(ol) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font */
body,a,button {
    font-family: 'Open Sans', sans-serif;
    font-size: .87rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
}
/* buttons */
/* common */
:root {
    --blue: #1155cc;
    --sectionmargin: 6rem;
    --gutter-sm: 1rem;
    --gutter: 2rem;
}
.container {
    width: 70%;
    margin: auto;
}

.list--lower-alpha {
    list-style-type: lower-alpha;
}

ol{
    margin-block-start: 0;
    padding-inline-start: var(--gutter-sm);
}

ol li {
    margin: var(--gutter-sm) 0;
    padding-inline-start: var(--gutter-sm);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
}

a svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

/* header */

/* main */
.faq {
    margin: var(--sectionmargin) 0;
}
.faq__paragraph {
    margin: var(--gutter) 0;
    line-height: 1.5rem;
}
/* footer */
